In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../src/data/fiinx/raw_data.csv')
df

,Date,VGI,SLS,SCS,VGC,FRT,QNS,VIC,RAL,HDB,MWG
0,12/31/2024,"91,700","184,400","80,000","44,950","185,600","50,000","70,000","121,800","25,500","61,000"
1,12/30/2024,"92,000","184,300","83,900","45,150","185,000","51,600","70,100","120,400","26,650","61,000"
2,12/27/2024,"90,100","182,900","85,000","44,700","183,800","52,000","70,400","120,000","24,950","61,400"
3,12/26/2024,"93,700","184,100","80,300","44,500","183,800","51,900","70,500","120,200","24,150","61,500"
4,12/25/2024,"94,800","183,400","81,800","45,250","183,500","51,200","70,700","118,000","23,900","62,200"
...,...,...,...,...,...,...,...,...,...,...,...
1245,1/8/2020,"24,500","31,617","57,771","18,000","13,618","26,900","56,000","50,715","10,356","36,765"
1246,1/7/2020,"24,600","30,501","57,531","18,000","14,002","27,000","56,800","51,072","10,356","37,678"
1247,1/6/2020,"25,000","30,501","58,490","18,000","14,066","27,500","56,600","50,715","10,473","37,385"
1248,1/3/2020,"25,300","30,501","57,244","18,000","14,513","27,000","57,500","50,715","10,686","37,580"
1249,1/2/2020,"25,000","30,501","55,662","18,000","13,938","27,000","57,000","50,715","10,783","38,134"